<h1>Bodegas de los Cuates del Tequila</h1>

<h2>Bodega de recepcion</h2>
<%= render partial: "shared/almacen", :object => [@almacen_recepcion, @stock['recepcion']] %>
<h2>Bodega de despacho</h2>
<%= render partial: "shared/almacen", :object => [@almacen_despacho, @stock['despacho']] %>
<h2>Bodega pulmon</h2>
<%= render partial: "shared/almacen", :object => [@almacen_pulmon, @stock['pulmon']] %>
