<h1>Bodegas de los Cuates del Tequila</h1>
<h2>Mover stock</h2>
  <%= form_tag({controller: "bodega", action: "move"}, method: "post", class: "form-inline") do %>
    <div class="form-group">
      <label for="sku">SKU</label>
      <input type="number" min="0" name="sku" class="form-control">
    </div>
    <div class="form-group">
      <label for="amount">Cantidad</label>
      <input type="number" min="0" name="amount" class="form-control">
    </div>
    <div class="form-group">
      <label for="origin">Origen</label>
      <select name="origin" class="form-control">
        <option value="recepcion">Recepcion</option>
        <option value="despacho">Despacho</option>
        <option value="pulmon">Pulmon</option>
      </select>
    </div>
    <div class="form-group">
      <label for="destination">Destino</label>
      <select name="destination" class="form-control">
        <option value="recepcion">Recepcion</option>
        <option value="despacho">Despacho</option>
        <option value="pulmon">Pulmon</option>
      </select>
    </div>
    <input type="submit" class="btn btn-small btn-primary" value="Mover">
  <% end %>

<h2>Bodega de recepcion</h2>
<%= render partial: "shared/almacen", :object => 'recepcion' %>
<h2>Bodega de despacho</h2>
<%= render partial: "shared/almacen", :object => 'despacho' %>
<h2>Bodega pulmon</h2>
<%= render partial: "shared/almacen", :object => 'pulmon' %>
