<div class="col-md-10 col-md-offset-1">
  <h1>Ordenes de compra</h1>
  <div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" role="tablist">
      <li role="presentation" class="active"><a href="#aceptadas" aria-controls="home" role="tab" data-toggle="tab">Aceptadas</a></li>
      <li role="presentation"><a href="#rechazadas" aria-controls="profile" role="tab" data-toggle="tab">Rechazadas</a></li>
      <li role="presentation"><a href="#pagadas" aria-controls="messages" role="tab" data-toggle="tab">Pagadas</a></li>
      <li role="presentation"><a href="#despachadas" aria-controls="settings" role="tab" data-toggle="tab">Despachadas</a></li>
      <li role="presentation"><a href="#anuladas" aria-controls="settings" role="tab" data-toggle="tab">Anuladas</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active fade in" id="aceptadas">...</div>
      <div role="tabpanel" class="tab-pane fade" id="rechazadas">.1..</div>
      <div role="tabpanel" class="tab-pane fade" id="pagadas">..2.</div>
      <div role="tabpanel" class="tab-pane fade" id="despachadas">.3..</div>
      <div role="tabpanel" class="tab-pane fade" id="anuladas">..4.</div>
    </div>

  </div>

