# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 3b7d87c5bb6c274ac85fc52d7151b1bae976c34a6c53f1339e6bdea013d2d17c0b68cdac7c8f7ec642204117f309411b6c8c28baabb76cf3ff11da20b3438594

test:
  secret_key_base: b8a156d0c4501874b4131b01f742ad25dc990c107aee61cd73893f215376ad94f441c2d4be937b7c35cc3275fbf2459a6800df48fc367bfc0ddd7fe99246d7c3

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
